:root {
  --hg2p250: Helvetica, arial, sans-serif;
  --hg2p251: Source Code Pro, Firacode, Hasklig, Menlo, monospace;
  --hg2p252: normal 10px Helvetica, arial, sans-serif;
  --hg2p253: normal 12px Helvetica, arial, sans-serif;
  --hg2p254: normal 14px Helvetica, arial, sans-serif;
  --hg2p255: normal 16px/1.3em Helvetica, arial, sans-serif;
  --hg2p256: 100;
  --hg2p257: 700;
  --hg2p258: 4px;
  --hg2p259: 2px;
  --hg2p25a: 4px;
  --hg2p25b: 6px;
  --hg2p25c: 100%;
  --hg2p25d: 70px;
  --hg2p25e: 44px;
  --hg2p25f: opacity 300ms ease, transform 300ms ease;
  --hg2p25g: opacity 200ms ease, transform 200ms ease;
  --hg2p25h: opacity 100ms ease, transform 100ms ease;
  --hg2p25i: 0;
  --hg2p25j: 2px;
  --hg2p25k: 4px;
  --hg2p25l: 6px;
  --hg2p25m: 12px;
  --hg2p25n: 16px;
  --hg2p25o: 20px;
  --hg2p25p: 40px;
}
:root {
  --hg2p25q: #000;
  --hg2p25r: #040080;
  --hg2p25s: #005ad2;
  --hg2p25t: #00439c;
  --hg2p25u: #00439c;
  --hg2p25v: #0088ff;
  --hg2p25w: #75438a;
  --hg2p25x: #a7a7a7;
  --hg2p25y: #515151;
  --hg2p25z: #fff;
  --hg2p2510: #a7a7a7;
  --hg2p2511: #cd193d;
  --hg2p2512: #005ad2;
  --hg2p2513: #1da584;
  --hg2p2514: rgba(0, 0, 0, .05);
  --hg2p2515: #005ad2;
  --hg2p2516: #c5f5e9;
  --hg2p2517: #fee1e9;
  --hg2p2518: #eeeeee;
  --hg2p2519: #fff;
  --hg2p251a: #f4f4f4;
  --hg2p251b: #e5f3ff;
  --hg2p251c: #eeeeee;
  --hg2p251d: 0 2px 8px rgba(18, 21, 26, 0.3);
  --hg2p251e: 0 0 0 5px #e5f3ff;
}
:root[data-playroom-dark] {
  --hg2p25q: #f6f8fa;
  --hg2p25r: #c8e1f7;
  --hg2p25s: #68aeea;
  --hg2p25t: #97c8f1;
  --hg2p25u: #97c8f1;
  --hg2p25v: #3e8fe0;
  --hg2p25w: #aa83f2;
  --hg2p25x: #3d4b63;
  --hg2p25y: #f6f8fa;
  --hg2p25z: #000;
  --hg2p2510: #828ea4;
  --hg2p2511: #fa6b6c;
  --hg2p2512: #3e8fe0;
  --hg2p2513: #28b888;
  --hg2p2514: rgba(0, 0, 0, .15);
  --hg2p2515: #3e8fe0;
  --hg2p2516: #195546;
  --hg2p2517: #4c1a20;
  --hg2p2518: #1c2230;
  --hg2p2519: #0f131b;
  --hg2p251a: #0a0c11;
  --hg2p251b: rgba(41,111,192,0.15);
  --hg2p251c: #1c2230;
  --hg2p251d: 0 0 10px -2px #2d3648;
  --hg2p251e: 0 0 0 5px rgba(104,174,234,0.4);
}
.hg2p251f {
  position: absolute;
}
.hg2p251g {
  position: relative;
}
.hg2p251h {
  position: fixed;
}
.hg2p251i {
  top: 0;
}
.hg2p251j {
  bottom: 0;
}
.hg2p251k {
  left: 0;
}
.hg2p251l {
  right: 0;
}
.hg2p251m {
  display: none;
}
.hg2p251n {
  display: flex;
}
.hg2p251o {
  display: block;
}
.hg2p251p {
  display: inline;
}
.hg2p251q {
  flex-direction: row;
}
.hg2p251r {
  flex-direction: column;
}
.hg2p251s {
  flex-direction: row-reverse;
}
.hg2p251t {
  flex-wrap: wrap;
}
.hg2p251u {
  justify-content: stretch;
}
.hg2p251v {
  justify-content: flex-start;
}
.hg2p251w {
  justify-content: center;
}
.hg2p251x {
  justify-content: flex-end;
}
.hg2p251y {
  justify-content: space-around;
}
.hg2p251z {
  justify-content: space-between;
}
.hg2p2520 {
  align-items: stretch;
}
.hg2p2521 {
  align-items: flex-start;
}
.hg2p2522 {
  align-items: center;
}
.hg2p2523 {
  align-items: flex-end;
}
.hg2p2524 {
  padding-top: var(--hg2p25i);
}
.hg2p2525 {
  padding-top: var(--hg2p25j);
}
.hg2p2526 {
  padding-top: var(--hg2p25k);
}
.hg2p2527 {
  padding-top: var(--hg2p25l);
}
.hg2p2528 {
  padding-top: var(--hg2p25m);
}
.hg2p2529 {
  padding-top: var(--hg2p25n);
}
.hg2p252a {
  padding-top: var(--hg2p25o);
}
.hg2p252b {
  padding-top: var(--hg2p25p);
}
.hg2p252c {
  padding-bottom: var(--hg2p25i);
}
.hg2p252d {
  padding-bottom: var(--hg2p25j);
}
.hg2p252e {
  padding-bottom: var(--hg2p25k);
}
.hg2p252f {
  padding-bottom: var(--hg2p25l);
}
.hg2p252g {
  padding-bottom: var(--hg2p25m);
}
.hg2p252h {
  padding-bottom: var(--hg2p25n);
}
.hg2p252i {
  padding-bottom: var(--hg2p25o);
}
.hg2p252j {
  padding-bottom: var(--hg2p25p);
}
.hg2p252k {
  padding-left: var(--hg2p25i);
}
.hg2p252l {
  padding-left: var(--hg2p25j);
}
.hg2p252m {
  padding-left: var(--hg2p25k);
}
.hg2p252n {
  padding-left: var(--hg2p25l);
}
.hg2p252o {
  padding-left: var(--hg2p25m);
}
.hg2p252p {
  padding-left: var(--hg2p25n);
}
.hg2p252q {
  padding-left: var(--hg2p25o);
}
.hg2p252r {
  padding-left: var(--hg2p25p);
}
.hg2p252s {
  padding-right: var(--hg2p25i);
}
.hg2p252t {
  padding-right: var(--hg2p25j);
}
.hg2p252u {
  padding-right: var(--hg2p25k);
}
.hg2p252v {
  padding-right: var(--hg2p25l);
}
.hg2p252w {
  padding-right: var(--hg2p25m);
}
.hg2p252x {
  padding-right: var(--hg2p25n);
}
.hg2p252y {
  padding-right: var(--hg2p25o);
}
.hg2p252z {
  padding-right: var(--hg2p25p);
}
.hg2p2530 {
  margin-top: var(--hg2p25i);
}
.hg2p2531 {
  margin-top: var(--hg2p25j);
}
.hg2p2532 {
  margin-top: var(--hg2p25k);
}
.hg2p2533 {
  margin-top: var(--hg2p25l);
}
.hg2p2534 {
  margin-top: var(--hg2p25m);
}
.hg2p2535 {
  margin-top: var(--hg2p25n);
}
.hg2p2536 {
  margin-top: var(--hg2p25o);
}
.hg2p2537 {
  margin-top: var(--hg2p25p);
}
.hg2p2538 {
  margin-bottom: var(--hg2p25i);
}
.hg2p2539 {
  margin-bottom: var(--hg2p25j);
}
.hg2p253a {
  margin-bottom: var(--hg2p25k);
}
.hg2p253b {
  margin-bottom: var(--hg2p25l);
}
.hg2p253c {
  margin-bottom: var(--hg2p25m);
}
.hg2p253d {
  margin-bottom: var(--hg2p25n);
}
.hg2p253e {
  margin-bottom: var(--hg2p25o);
}
.hg2p253f {
  margin-bottom: var(--hg2p25p);
}
.hg2p253g {
  margin-left: var(--hg2p25i);
}
.hg2p253h {
  margin-left: var(--hg2p25j);
}
.hg2p253i {
  margin-left: var(--hg2p25k);
}
.hg2p253j {
  margin-left: var(--hg2p25l);
}
.hg2p253k {
  margin-left: var(--hg2p25m);
}
.hg2p253l {
  margin-left: var(--hg2p25n);
}
.hg2p253m {
  margin-left: var(--hg2p25o);
}
.hg2p253n {
  margin-left: var(--hg2p25p);
}
.hg2p253o {
  margin-right: var(--hg2p25i);
}
.hg2p253p {
  margin-right: var(--hg2p25j);
}
.hg2p253q {
  margin-right: var(--hg2p25k);
}
.hg2p253r {
  margin-right: var(--hg2p25l);
}
.hg2p253s {
  margin-right: var(--hg2p25m);
}
.hg2p253t {
  margin-right: var(--hg2p25n);
}
.hg2p253u {
  margin-right: var(--hg2p25o);
}
.hg2p253v {
  margin-right: var(--hg2p25p);
}
.hg2p253w {
  overflow: hidden;
}
.hg2p253x {
  overflow: auto;
}
.hg2p253y {
  box-shadow: var(--hg2p251d);
}
.hg2p253z {
  box-shadow: var(--hg2p251e);
}
.hg2p2540 {
  border-radius: var(--hg2p259);
}
.hg2p2541 {
  border-radius: var(--hg2p25a);
}
.hg2p2542 {
  border-radius: var(--hg2p25b);
}
.hg2p2543 {
  border-radius: var(--hg2p25c);
}
.hg2p2544 {
  transition: var(--hg2p25f);
}
.hg2p2545 {
  transition: var(--hg2p25g);
}
.hg2p2546 {
  transition: var(--hg2p25h);
}
.hg2p2547 {
  cursor: pointer;
}
.hg2p2548 {
  pointer-events: none;
}
.hg2p2549 {
  pointer-events: auto;
}
.hg2p254a {
  user-select: none;
}
.hg2p254b {
  appearance: none;
}
.hg2p254c {
  opacity: 0;
}
.hg2p254d {
  z-index: 0;
}
.hg2p254e {
  z-index: 1;
}
.hg2p254f {
  font: var(--hg2p252);
}
.hg2p254g {
  font: var(--hg2p253);
}
.hg2p254h {
  font: var(--hg2p254);
}
.hg2p254i {
  font: var(--hg2p255);
}
.hg2p254j {
  font-weight: var(--hg2p256);
}
.hg2p254k {
  font-weight: var(--hg2p257);
}
.hg2p254l {
  width: 100%;
}
.hg2p254m {
  width: 100vw;
}
.hg2p254n {
  height: 100%;
}
.hg2p254o {
  height: 100vh;
}
.hg2p254p {
  white-space: nowrap;
}
.hg2p254q {
  box-sizing: border-box;
}
.hg2p254r {
  text-align: center;
}
.hg2p254s {
  text-align: left;
}
.hg2p254t {
  text-align: right;
}
.hg2p254u {
  border: 0;
}
@keyframes b7u9w94 {
  0%, 100% {
    opacity: 0;
  }
  20%, 80% {
    opacity: 1;
  }
  50%, 100% {
    stroke-dashoffset: 0;
  }
}
.b7u9w91 {
  z-index: 100;
  background: #1c2230;
  color: var(--hg2p25z);
}
.b7u9w93 > svg > path {
  stroke-dasharray: 1000px;
  stroke-dashoffset: 1000;
  animation-name: b7u9w94;
  animation-duration: 1300ms;
  animation-delay: 500ms;
  animation-direction: forwards;
  animation-timing-function: ease-in;
  animation-iteration-count: 2;
  animation-fill-mode: forwards;
}
.b7u9w95 {
  margin: 0 auto;
  width: 40vw;
  max-width: 200px;
}
._1qb8rsf1 {
  color: var(--hg2p25y);
}
._1qb8rsf2 {
  color: var(--hg2p2511);
}
._1qb8rsf9 {
  text-overflow: ellipsis;
}
